/* --------------------- Configs --------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: #343a40;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

/* --------------------- Media Queries --------------------- */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

}
